/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-datepicker
 */
 body { padding-top: 100px; }
 footer { margin-top: 100px; }
 table, td, th { vertical-align: middle; border: none;}
 th { border-bottom: 1px solid #333333; }
 thead{ background-color: #101010;color: #999999;}
 .btn-inverse {background-color: #101010;color: #999999;border-radius: 10px;}
 .btn-inverse:hover {height:auto;background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);color: #101010; border-color:#101010;}
 .btn-reverse {background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);color: #101010; border-color:#101010;border-radius: 10px;}
 .filter{background-color: #101010;color: #999999;border-radius: 15px;}
 .form{background-color: #999999;color: #101010;border-radius: 15px; padding: 10px}
 .im-centered{margin: auto; max-width: 100%;}
 .login{ margin: 0 auto; float: none;color: #999999; background-color:#101010;overflow:hidden;border-radius: 15px;}
 .from-group.col-sm-12.btn{padding-top: 10px; margin-top: 10px}
 .btn-tab{width: 100%}
 .btn-mar{margin-top: 10px;margin-bottom: 10px}
 .table.table-bordered.table-hover.table-responsive{margin-top: 20px}